<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815283884154-6ddkg0bd4sfucp64ktl739dagtjlcc41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815283884154-6ddkg0bd4sfucp64ktl739dagtjlcc41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815283884154-2r5lacd79lrbc8q4ulac1hj72a0tk5kt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDY_zXzENX7xzZPBdkuS9Q22PLdsTGVIA8</string>
	<key>GCM_SENDER_ID</key>
	<string>815283884154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exponents.chitChats</string>
	<key>PROJECT_ID</key>
	<string>chit-chats-b6a2f</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chats-b6a2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815283884154:ios:436a2c7bc8c0ef910cebc3</string>
</dict>
</plist>